body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
}

.container {
    width: 400px;
    padding: 20px;
    margin: 20px auto; /* Center the container */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.navbar-right {
    margin-left: auto;
}

/* Add additional styling for the logout button if needed */
.navbar-right button {
    background-color: #d9534f; /* Change color for logout button */
}

.navbar-right button:hover {
    background-color: #c9302c; /* Change hover color for logout button */
}
